*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: young-serif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
}
:root {
  --brown: hsl(14, 45%, 36%);
  --rose: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(330, 100%, 98%);
  --pSize: 16px;
}
main {
    padding: 32px;
}

.hero-image img {
    width: 100%;
    display: block;
    border-radius: 20px;
    margin-bottom: 20px;
}
.recipe h1 {
  font-family: young-serif; 
  font-weight: 400;
  margin-bottom: 0.8rem;
}
p {
    font-family: outfit;
    font-size: 16px;
    margin-bottom: 1.5rem;
    color: var(--stone600);
}


/* preparation time */
.prepCard {
    border-radius: 12px;
    background-color: var(--rose50);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.prepCard h3 {
   color: var(--rose); 
   font-family: outfit;
   margin-bottom: 1rem;
}
.prepCard ul, .ingredients ul , .instructions ol{
    padding-left: 1.5rem;
}
.prepCard li, .ingredients li, .instructions li {
  font-family: outfit;
  margin-bottom: 0.3rem;
  padding-left: 1rem;
  color: var(--stone600);
}
.prepCard li::marker {
    color: var(--rose);
}

/* Ingredients */
.ingredients, .instructions {
    margin-bottom: 1.5rem;
}
.ingredients h2, .instructions h2, .nutrition h2 {
    color: var(--brown);
    font-family: young-serif;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.ingredients li::marker, .instructions li::marker {
    color: var(--brown);
    font-weight: bold;
}
hr {
    border-color: var(--stone150);
    margin-bottom: 1rem;
}

.gram {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.gram-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 15px;
}
.gram-item:nth-child(1) {
    border-bottom: 1px solid #e5e7eb;
}
.gram-item:nth-child(2) {
    border-bottom: 1px solid #e5e7eb;
}
.gram-item:nth-child(3) {
    border-bottom: 1px solid #e5e7eb;
}
.gram-item:nth-child(4) {
    border-bottom: none;
}
.gram .type {
    font-family: outfit;
    font-size: 16px;
    color: var(--stone600);
    padding-left: 1.5rem;
}

.gram .kg {
    font-family: outfit;
    font-weight: 900;
    color: var(--brown);
}

/* Responsiveness */
@media screen and (max-width: 376px) {
    main {
    padding: 32px 36px; 
  }
  .hero-image {
    margin: -32px -36px 16px;
  }
  .hero-image img {
    border-radius: 0px;
  }
  .recipe h1 {
    padding-top: 1rem;
    line-height: 1;
  }
  p {
    font-size: 14px;
  }
}